<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Tentang Aplikasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-padding">
    <ion-icon name="information-circle-outline" style="font-size: 64px;" color="primary"></ion-icon>
    <h2>Aplikasi Kasir POS</h2>
    <p>Versi 1.0.0</p>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Deskripsi</ion-card-title>
    </ion-card-header>  
    <ion-card-content>
      Aplikasi ini dirancang oleh:
    </ion-card-content>
  </ion-card>
</ion-content>